NEXT_PUBLIC_USER_SERVICE_URL=http://localhost/api/users
NEXT_PUBLIC_RESTAURANT_SERVICE_URL=http://localhost/api/restaurants
NEXT_PUBLIC_ORDER_SERVICE_URL=http://localhost/api/orders
NEXT_PUBLIC_DELIVERY_SERVICE_URL=http://localhost/api/deliveries
NEXT_PUBLIC_SOCKET_URL=http://localhost
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_placeholder
